@model Fruit.Models.Product
@using Fruit.Models
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/MainLaayout.cshtml";
}

<div class="main">
    <div class="commerce single-product noo-shop-main">
        <div class="container">
            <div class="row">
                <div class="noo-main col-md-9">
                    <div class="product">
                        <div class="single-inner">
                            <div class="images">
                                <div class="product-simple-image">
                                    <a href="#" data-rel="prettyPhoto">
                                        <img width="300" height="381" src="~/Uploads/@Model.Image" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <h1 class="product_title entry-title">@Model.Name</h1>
                                <p class="price"><span class="amount">&#36;@Model.Price</span></p>
                                <p class="description">@Model.About</p>
                                <div class="product_meta">
                                    <span class="posted_in">Category: <a href="#">@Model.Category.Name</a></span>
                                </div>
                                <div class="clear"></div>
                                <div class="noo-social-share">
                                    <span>Share:</span>
                                    <a href="#share" class="noo-share" title="Share on Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#share" class="noo-share" title="Share on Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#share" class="noo-share" title="Share on Google+">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#share" class="noo-share" title="Share on Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="commerce-tabs">
                            <ul class="nav nav-tabs tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab-noo_boxes_tab">Box contents</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab-description">Description</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-noo_boxes_tab">
                                    <ul>
                                        @foreach (BoxContain item in Model.BoxContains)
                                        {
                                            <li>
                                                <div class="box-item">
                                                    <img width="150" height="150" src="~/Uploads/@item.Image" alt="" />
                                                    <strong>@item.Name</strong>
                                                    <span>@item.Size kg</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                    <p class="ds">We do our best to send you the things youwill will chosen. Our photos do not show the actual quantities.</p>
                                </div>
                                <div id="tab-description" class="tab-pane fade">
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                            <div class="related products">
                                <h2>Related Products</h2>
                                <div class="products row product-grid">
                                    @foreach (Product item in ViewBag.related)
                                    {
                                        <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                            <div class="noo-product-inner">
                                                <div class="noo-product-thumbnail">
                                                    <a href="shop-detail.html">
                                                        <img style="width:100%;height:180px;" width="600" height="760" src="~/Uploads/@item.Image" alt="" />
                                                    </a>
                                                    <div class="noo-rating">
                                                        <div class="star-rating">
                                                            <span style="width:90%"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="noo-product-title">
                                                    <h3><a href="shop-detail.html">@item.Category.Name</a></h3>
                                                    <span class="price"><span class="amount">&#36;@item.Price</span></span>
                                                    <div class="noo-product-action">
                                                        <div class="noo-action">
                                                            <a href="/Boxes/Detail/@item.Id" class="button product_type_simple add_to_cart_button">
                                                                <span>View More</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



